html, body {
    margin: 0;
    padding: 0;
    background: rgb(49, 49, 49);
    color: white;
    font-family: Arial, sans-serif;
}

.editor-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    height: calc(100vh - 56px); /* Adjust based on your header height */
    width: 94vw;
    margin: 0 auto;
    padding-left: 2vw;

    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 10px;
}
.editor-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}
p {
    text-align: center;
    font-size: 1.5rem;
}
.editor {
    flex: 1;
    position: relative;
}

/* Responsive: Stack editors vertically on narrow screens */
@media (max-width: 1200px) {
    .editor-container {
        flex-direction: column;
    }
}
